.App-header {
  background-color: #282c34;
  min-height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  border-color: white;
}

.title {
  text-align: center;
  flex-grow: 1;
}

.list {
  margin: 2em auto;
  width: 80%;
  max-width: 1000px;
  z-index: 1;
}
.card {
  cursor: pointer;
}

.card-header{
  margin: 1em 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.334;
  letter-spacing: 0em;
  display: block;
  text-align: center;
}

.popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 2em;
}
.popup-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 300px;
  margin: 1em 0;
}
.popup-img {
  margin-right: 2em;
}

.Episodes-header{
  text-align: center;
}
.season-controller{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-self: center;
}

.season-Header{
  margin: 0;
}

.episode-table {
  margin: 2em auto;
  width: 80%;
  max-width: 800px;
}
